:root {
    --colorA: #b25061;
    --colorAsoft: #fab6c2;
    --colorAsoftTransparent:#ffc0cba0;
    --colorB: #4CAF50;
    --colorWhite: #fff;
    --transparente:  #0000007c;

}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--colorWhite);
    position: relative;
    main {
        padding: 100px 1em 1em 1em;
        background-color: white;
    }
}

/* Header */
header {
    background-color: var(--colorB);
    color: var(--colorWhite);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 5;
    h1 {
        text-align: left;
        padding-left: 25px;
        }
    h2 {
        display: none;
    }
}

header h1, 
#saludo, 
#carrito {
    flex: 1;
}

#carrito {
    text-align: right;
}

#carrito-header {
    background-color: transparent;
    border: none;
    color: var(--colorWhite);
    font-size: 0.6rem;
    .carritoContador #cart-contador {
        color: var(--colorWhite);
        width: 15px;
        height: 15px;
        border-radius: 50%;
        position: absolute;
        right: 95px;
        top: 20px;
        text-align: center;
        line-height: 15px;
    }
    #total-price {
        margin: 0px;
    }
}

/* Carrito oculto*/
#background-cart-items {
    display: none;
    background-color: var(--transparente);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    button {
        color: var(--colorA);
        background-color: transparent;
        border: none;
        font-weight: bolder;
        position: relative;
        margin-top: 10px;
    }
    #cerrar-carrito {
        z-index: 50;
        text-align: right;
        margin-right: 15px;
        background-color: var(--colorWhite);
        padding: 0px;
    }
}

#background-cart-items #cart-items {
    background-color: white;
    position: fixed;
    margin: auto;
    z-index: 10;
    height: 100%;
    right: 0;
    top: 0;
    padding: 10px;
    color: var(--colorA);
    padding-top: 25px;
    display: flex !important;
    flex-wrap: wrap;
    align-content: space-between;
    width: 400px;
    > div {
        width: 100%;
    }
    p {
        text-align: center;
    }
}

#cart-items .cart-item-products-contenedor{
    height: calc(100% - 200px);
    overflow: auto;
    p {
    margin: 5px;
    font-size: 0.75em;
    text-align: left;
    }
}

/* Estilo del scrollbar */
.cart-item-products-contenedor::-webkit-scrollbar {
    width: 0.3rem; 
}
.cart-item-products-contenedor::-webkit-scrollbar-thumb {
    background-color:  var(--colorAsoftTransparent);
    border-radius: 6px; 
}
.cart-item-products-contenedor::-webkit-scrollbar-track {
    background-color: #f1f1f18f; 
    border-radius: 6px; 
}

.cart-item-products-contenedor .cart-item-product {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--colorAsoftTransparent);
    padding: 15px;
    min-height: 50px;
    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    div:nth-child(1) p {
        text-align: left;
        margin: 0px;
    }
    div:nth-child(1) p:first-child {
        font-weight: bolder;
    }
    div:nth-child(2) {
        align-items: flex-end;
        .btn-eliminar {
            width: 0px;
            margin: 0px;
            text-align: right;
        }
        p {
            margin: 0px;
            text-align: right;
        }
    }

}
.cart-item-products-contenedor .cart-item-product:last-child{
    border-bottom: none;
    margin-bottom: 50px;
}


#cart-items .cart-items-botones {
    padding: 5px 0px 40px 0px;
    margin-top: 5px;
    background-color: var(--colorWhite);
    border-top: 1px solid var(--colorA);

    .cart-total {
        display: flex;
        justify-content: space-between;
    }
    button {
        display: block;
        margin: 15px auto auto auto;
    }
    button:nth-child(2) {
        border: 1px solid var(--colorA);
        padding: 10px;
        border-radius: 5px;
        color: var(--colorA);
        background-color: #fff;
        width: 200px;
        margin-top: 25px;
    }
    button:nth-child(2):hover {
        cursor: pointer;
        border: 1px solid var(--colorAsoft);
        background-color: var(--colorA);
        color: var(--colorWhite);
    }
    button:nth-child(3) {
        text-decoration: underline;
        font-size: 0.7rem;
        font-weight: lighter;
    }

}


/* E-Commerce */


.eCommerce {
    margin-top: 15px;
    background-color: rgb(238, 238, 238);
    padding: 25px;
    border-radius: 10px;
    h2 {
        color: var(--colorA)
    }
    .carritoyfiltro .filter select,
    .carritoyfiltro .filter input {
        margin: 0.5rem 0.5rem

    }
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 2em;
    .card {
        background-color: white;
        padding: 1em;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 20%;
        position: relative;
        padding-bottom: 80px;
        img {
            max-width: 100%;
            border-radius: 5px;
        }
        button {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            width: 50%;
        }
        .productoMarca {
            color: var(--colorAsoft);
        }
        .productoCantidad {
            font-size: 0.8rem;
        } 
        .productoPrecio {
            font-weight: bolder;
        }
        select {
            width: 100%
        }
    }
}

/* Notificacion */
.product-agregado {
    position: fixed;
    top: 80px;
    right: 5px;
    border: 1px solid var(--colorA);
    padding: 10px;
    border-radius: 5px;
    color: var(--colorA);
    background-color: var(--colorWhite);
    width: 200px;
    z-index: 20;
}
/*POPUP COMPRA*/


.carrito-popup,
.carrito-popup2,
.swal2-popup {
    background-color: var(--colorWhite);
    color: var(--colorA);
    h2 {
        font-size: 1.5rem;
    }
    .swal2-html-container {
        font-size: 0.8rem;
        p{margin-bottom: 1rem;
        }
        text-align: left;
    }
    .swal2-validation-message {
        background: transparent
    }
    input {
        width: 80%;
        border: 1px solid var(--colorA);
        padding: 10px;
        border-radius: 5px;
        color: var(--colorA);
        box-sizing: border-box;
    }
    input:focus {
        border: 1px solid pink;
        box-shadow: none;
    }
    .swal2-actions {
        flex-direction: column;
        .swal2-confirm {
            border: 1px solid var(--colorA);
            padding: 10px;
            border-radius: 5px;
            color: var(--colorA);
            background-color: var(--colorWhite);
            width: 200px;
            box-sizing: border-box;
        }
        .swal2-confirm:hover {
        color: var(--colorWhite);
        background-color: var(--colorA);
    }
        .swal2-cancel {
            text-decoration: underline;
            font-size: 0.7rem;
            font-weight: lighter;
            background-color: transparent;
            color: var(--colorA)

        }
        .swal2-cancel:hover{
            background-color: transparent;
            background-image: none;
            border: none;
            font-weight: bolder;
        }
    }
}
.swal2-icon-success #swal2-html-container {
    text-align: center
}

div:where(.swal2-icon).swal2-success [class^=swal2-success-line]{
    background-color: var(--colorB);

}

/* Form Styles */
.calculadora-style {
    background-color: var(--colorAsoft);
    padding: 15px;
    border-radius: 10px;
    color: var(--colorA);
    input, select{
        width: 180px;
        height: 40px;
    }
    .cuestionario {
        display: flex;
        gap: 1rem
    }
    #formulario {
        > div {
            margin-top: 2rem;
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        .cuestionario > div {
            display: flex;
            justify-content: space-between;
            gap: 0.3rem;
            margin-bottom: 0.5rem;
            flex-direction: column;
        }
    }
    .proteinatexto {
        font-weight: bolder;
    }
}

/* Buttons and Inputs */
button:hover,
.calcular:hover {
    cursor: pointer;
    border: 1px solid var(--colorAsoft);
    background-color: var(--colorA);
    color: var(--colorWhite);
}

select,
input,
button {
    border: 1px solid var(--colorA);
    padding: 10px;
    border-radius: 5px;
    color: var(--colorA);
    background-color: white;
    width: 200px;
    box-sizing: border-box;
}



@media (max-width: 480px) {
    header #saludo {
        display: none
    }
    h1 {
        font-size: 1rem;
    }
    .carritoContador #cart-contador {
        top: 15px !important;
    }
    .calculadora-style {
        & #formulario {
            input, select {
                width: 250px;
            }
            .cuestionario {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                align-items: flex-start;
            }
            > div {
                display: flex;
                flex-direction: column;
                margin-top: 1rem;
                align-items: flex-start;
        }
    }
    }
    #background-cart-items #cart-items {
        width: 100%;

    }
    #cart-items .cart-items-botones .cart-total{
        justify-content: space-around;
    }
    .product-list {
        gap: 0.4rem;
        .card {
            width: 100%;
            img {
                max-width: 70%;
                margin: auto;
                display: block;
            }
    
        }
    }

}

footer{
    background-color: rgba(238, 238, 238, 0.548);
    padding: 15px;
    p {font-size: 0.8rem}
    text-align: center;
    margin-top: 20px
}

@media (min-width: 481px) and (max-width: 768px) {
    .calculadora-style {
        & #formulario {
            .cuestionario {
                display: grid;
                grid-template-columns: repeat(2, 1fr); 
                grid-template-rows: repeat(4, auto); 
                gap: 1rem;            
            }
            > div {
                display: grid;
                grid-template-columns: repeat(2, 1fr); 
                margin-top: 0.5rem;
            }
        }
    }
    #background-cart-items #cart-items {
        width: 100%;
    }
    #cart-items .cart-items-botones .cart-total{
        justify-content: space-around;
    }
    .product-list {
        gap: 0.6rem;
        .card {
            width: 40%;
        }
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .calculadora-style {
        input, select {
            width: 130px;
        }
    }
    .product-list {
        .card {
            width: 25%;
        }
    }
}
